<!DOCTYPE html>

<head>
    <title>thingly.net</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<html>

<body>
    <main>
        <h1>thingly.net</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor enim elit, sed pellentesque ex sollicitudin in. Vestibulum dapibus velit quis vestibulum eleifend. Morbi vestibulum nunc sit amet mauris commodo volutpat. Maecenas condimentum
            nulla sit amet ex gravida eleifend. Morbi sagittis mollis arcu ornare sollicitudin. Aliquam sit amet neque a mauris venenatis ultricies sit amet et nulla. Vestibulum sem tortor, bibendum eu suscipit in, scelerisque id erat. Cras eget turpis
            enim. Vivamus tristique erat et sem lobortis pretium. Suspendisse sed sagittis risus. Sed elementum iaculis nisi sed auctor. Sed tempor lacinia diam sed vulputate. Nullam congue eros et tempor feugiat.</p>

        <p>Quisque quis sapien ante. Sed quis condimentum massa, ac hendrerit lectus. Integer pretium viverra maximus. Nullam lorem lacus, venenatis sit amet purus a, fermentum sodales tortor. Pellentesque tristique lectus sit amet tempor cursus. Proin felis
            dolor, suscipit quis pharetra ac, pellentesque eu purus. Maecenas vel sagittis augue.</p>

        <p>Sed sit amet felis et sem volutpat maximus eget quis enim. Curabitur tempor velit erat, nec dictum lorem ultrices sit amet. Fusce ut dui metus. Ut non fermentum tellus, et pharetra sem. Vivamus eu mattis odio, eget tempus lacus. Vivamus pellentesque
            urna scelerisque purus mattis vulputate quis quis odio. In vestibulum diam sit amet felis porta sodales. Aenean eget lorem tempor, tristique lacus sit amet, pellentesque lacus. Proin purus augue, lacinia ut tortor ut, lobortis dictum ex. Nam
            semper accumsan lacus, viverra ultrices leo sodales in. Nullam ullamcorper, quam eu gravida consectetur, libero metus cursus lorem, nec vehicula nunc eros id lorem.
        </p>

        <p>Nunc convallis iaculis metus, eget euismod ipsum finibus at. Ut lacinia, neque et rutrum sodales, quam mi elementum metus, nec aliquet sem felis at velit. Nulla pretium, sapien ac interdum hendrerit, tellus ligula auctor leo, eget tincidunt justo
            nisl nec lorem. Etiam velit nunc, varius ut posuere quis, sollicitudin vitae dolor. Suspendisse accumsan aliquam risus sed sollicitudin. Phasellus a ipsum velit. Cras rhoncus risus tortor, sed egestas tellus pulvinar quis. Praesent tristique
            dictum ultrices. Pellentesque aliquam eros sit amet eleifend elementum. Duis tincidunt lacinia augue id rutrum.</p>

        <p>Vestibulum non arcu et velit facilisis pellentesque ac vel nunc. Phasellus feugiat odio sit amet est congue, ut cursus nunc vulputate. Nam blandit elementum mollis. Quisque nec placerat ligula. Fusce consectetur tincidunt orci. Aenean quis nisi
            mi. Maecenas luctus enim ut lacus ullamcorper commodo. Donec ut lorem non quam facilisis dignissim. In dolor tellus, sollicitudin et eros sed, faucibus fermentum risus. Nam eu sapien eu lacus viverra semper. Duis laoreet sapien ut risus condimentum,
            ac semper tellus elementum. Mauris rutrum nulla sed nunc aliquam posuere. Nulla quis velit mattis, ultricies elit non, efficitur odio. Suspendisse a arcu vel ipsum hendrerit ornare et vitae ante.</p>

    </main>
</body>

</html>